:root {
  --color: #212121;
  --logo-color: #2196f3;
  --logo-ftr: #ffffff;
  --background: #e5e5e5;
  --paragraph-color: #757575;
  --team-background-color: #f5f4fa;
  --ftr-background: #2f303a;
  --border-color: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color);
}
.container {
  height: 1200px;
  width: 1600px;
}
.main-header {
  display: flex;
  max-width: 1600px;
  max-height: 80px;
  border-bottom: 1px color:var(--background);
}

.logo {
  margin: 24px 93px 25px 215px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--color);
}

.logo-web {
  color: var(--logo-color);
}

.social-links {
  text-decoration: none;
  display: flex;
  list-style: none;
  font-weight: 500;
  margin: 32px 371px 32px 93px;
  text-decoration: none;
  column-gap: 46px;
  color: var(--color);
}

.link {
  text-decoration: none;
  color: var(--color);
  list-style: none;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--logo-color);
}

.contact-style {
  text-decoration: none;
  display: flex;
  list-style: none;
  color: var(--paragraph-color);
  margin-top: 32px;
  column-gap: 20px;
}
.mail {
  text-decoration: none;
  color: var(--paragraph-color);
  list-style: none;
}
.mail:hover,
.mail:focus,
.mail:active {
  color: var(--logo-color);
}

.tel {
  text-decoration: none;
  color: var(--paragraph-color);
  list-style: none;
  display: inline-flex;
}
.tel:hover,
.tel:focus,
.tel:active {
  color: var(--logo-color);
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-bg {
  background-color: var(--ftr-background);
  width: 1600px;
  height: 600px;
 
}
.header1-style {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 44px;
  letter-spacing: 0.06em;
  background-color: var(--ftr-background);
  color: var(--logo-ftr);
  line-height: 1.36;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 1600px;
  padding: 200px 452px 280px;
  font-weight: 900;
  line-height: 1,37;
}
.first-button{
  background-color: var(--logo-color);
  color: var(--logo-ftr);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.9;
  display: flex;
 justify-content: center;
  margin: -250px 700px 200px 700px;
  width: 200px;
  border:  1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding:10px 40px;

}
.first-button:hover,
.first-button:focus {
  background-color: var(--logo-color);
  color: var(--logo-ftr);
}
.first-button:active {
  background-color: var(--logo-color);
  color: var(--logo-ftr);
}

.parent-style {
  display: flex;
  margin: 94px 215px;
  column-gap: 10px;
}
.solutions-desc {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  list-style: none;
}
.header3-style {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  display: flex;
}
.paragraph-desc {
  font-size: 14px;
  text-decoration: none;
  color: var(--paragraph-color);
  display: flex;
  text-align: left;
 
}

.header2-style {
  font-size: 36px;
  color: var(--color);
  text-align: center;
  padding: 50px;
}
.work-spaces{
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;

}
.work-area {
  text-decoration: none;
  justify-content: center;
  list-style: none;
  display: inline-flex;
  padding: 30px;
}

.team-style {
  background-color: var(--team-background-color);
  height:648px;
}
.cards-style{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
 
}
.team-cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  display: inline;
  justify-content: center;
  text-align: center;
  background-color: var(--logo-ftr);
}
.mates-name{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
.workplace-style{
  font-size: 14px;
  font-weight: 400px;
  text-decoration: none;
  color: var(--paragraph-color);
  display: flex;
  justify-content: center;
  text-align: center;
}
.ftr-style {
  background-color: var(--ftr-background);
  text-decoration: none;
 height: 252px;
}

.logo-ftr {
  color: var(--logo-ftr);
  text-decoration: none;
  font-size: 36px;
  font-family: "Raleway"; 
  margin-left: 215px;
}

.ftr-address {
  color: var(--logo-ftr);
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  margin-left: 90px;
}

.ftr-address:hover,
.ftr-address:focus, 
.ftr-address:active {
  color: var(--logo-color);
}

.ftr-mail{
  color: var(--paragraph-color);
  margin-left: 180px;
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
}
.ftr-mail:hover,
.ftr-mail:focus, 
.ftr-mail:active {
  color: var(--logo-color);
}
.ftr-tel{
  color: var(--paragraph-color);
  margin-left: 180px;
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
}
.ftr-tel:hover,
.ftr-tel:focus, 
.ftr-tel:active {
  color: var(--logo-color);
}
.button-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 94px;
  margin-bottom: 34px;
  list-style: none;
  text-decoration: none;
  column-gap: 10px;
}
.btn-types {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  padding: 9px;
  justify-content: center;
  gap: 10px;
  border: 1px solid color: (var(--border-color));
}
.btn-types:hover,
.btn-types:focus {
  background-color: var(--logo-color);
  color: var(--logo-ftr);
}
.btn-types:active {
  background-color: var(--logo-color);
  color: var(--logo-ftr);
}

.cards-style-pf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-pf{
  display: flex;
  padding: 10px;
}

.paragraph-pf {
  font-size: 14px;
  text-decoration: none;
  color: var(--paragraph-color);
  display: flex;
  text-align: left; 
  border: 1px solid color: (var(--paragraph-color));
}